{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Elections</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/semantic.min.css' %}">
</head>
<style type="text/css">
    body{
        margin: 0 auto;
        padding: 50px;
        padding-left: 30%;
        padding-right: 30%; 
        background-color: #FAFAFA;
    }
</style>
<body>
    <center>
    <div class="ui teal circular segment">
        <div class="ui teal inverted circular segment center aligned">
            <h1 class="ui header">Thankyou <br>for<br> voting</h1>
            <div class="ui divider"></div>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui center aligned container">
        <p><i>Made with <i class="heart icon"></i> by <a href="https://www.facebook.com/anurag.ans.29">Anurag Sharma</a></i></p>
    </div>
    </center>
</body>
</html>
